.baner {
    background-color: green;
    color: white;
}

.bl,
.stopka {
    background-color: rgb(145, 244, 203);
}

table,
td,
th {
    padding: 10px;
}

th {
    background-color: yellowgreen;
}

table,
td {
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}

.bl,
.bp {
    text-align: center;
    height: 500px;
    float: left;
}

.stopka {
    text-align: center;
    clear: both;
}

h1 {
    margin: 0px;
}

.bl {
    width: 25%;
}

.bp {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

table {
    text-align: center;
}

p {
    margin: 0px;
}